html {
  font-size: 62.5%; }
  @media (max-width: 1500px) {
    html {
      font-size: 58%; } }
  @media (max-width: 991px) {
    html {
      font-size: 53%; } }

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif; }

.main {
  width: 100%;
  height: 100%; }

.sidebar {
  height: 100%;
  min-width: 24.4rem;
  padding: 4.2rem 3rem;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }
  .sidebar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0; }
  .sidebar-info-img {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%; }
  .sidebar-info-name {
    padding-left: 1.3rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #002257; }
    .sidebar-info-name span {
      display: inline-block;
      width: .7rem;
      height: .7rem;
      margin-left: .7rem;
      background-color: #2EBD41;
      border-radius: 50%; }
  .sidebar-info-title {
    padding-left: 1.3rem;
    font-size: 1.35rem;
    font-weight: 600;
    color: #969EAD; }
  .sidebar-group {
    padding-top: 4rem; }
    .sidebar-group:nth-of-type(2), .sidebar-group:nth-of-type(3) {
      padding-top: 3.5rem; }
    .sidebar-group .list-unstyled {
      margin: 0; }
    .sidebar-group h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.42;
      color: #687181; }
    .sidebar-group select {
      height: 3.5rem;
      width: 100%;
      margin-top: .7rem;
      padding: 0 .7rem;
      font-size: 1.2rem;
      border-color: #EAEBEE;
      color: #002257;
      border-radius: 3px; }
    .sidebar-group .list-unstyled li {
      height: 1.8rem;
      margin-top: 1.7rem;
      font-size: 1.3rem;
      line-height: 1.69;
      color: #002257; }

.results {
  width: 100%;
  background-color: #F8F9FB;
  padding: 4.1rem 4.6rem 2.8rem 3.4rem; }
  .results-header-logout {
    height: 2rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #6E747E; }
    .results-header-logout i {
      margin-top: 0;
      margin-left: -3px;
      font-size: 1.8rem;
      color: #6E747E; }
  .results-header h2 {
    height: 3.7rem;
    margin: 0;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.37;
    color: #1A173B; }
  .results-header .choose {
    margin: 2.2rem 0;
    font-size: 1.6rem;
    color: #878590; }
    .results-header .choose span {
      font-weight: 700;
      color: #1A173B; }
  .results-header-search {
    width: 34.4rem;
    height: 6.6rem;
    margin-top: 2.1rem;
    margin-bottom: 1.7rem;
    border-radius: 4px;
    border: solid 1.5px #eaebee;
    background-color: #ffffff; }
    .results-header-search input {
      width: 31.3rem;
      height: 3.5rem;
      padding-left: 4.3rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      border: solid 1.5px rgba(0, 0, 0, 0.1);
      border-radius: 1.7rem; }
  .results-body {
    font-family: 'Lato', sans-serif;
    height: calc(98% - 15.9rem); }
    .results-body .row {
      height: 25%; }
      .results-body .row .col-6 {
        height: 100% important; }
    .results-body .row:nth-of-type(1) {
      height: 50%; }
    .results-body .feedback-from, .results-body .feedback-to {
      max-height: 34.9vh; }
    .results-body .feedback-boss, .results-body .feedback-team, .results-body .feedback-admin {
      max-height: 17.4vh; }
    .results-body .feedback-from-header, .results-body .feedback-to-header, .results-body .feedback-boss-header, .results-body .feedback-team-header, .results-body .feedback-admin-header {
      padding: 2.7rem;
      border-bottom: solid 1.5px #eaebee; }
      .results-body .feedback-from-header a, .results-body .feedback-to-header a, .results-body .feedback-boss-header a, .results-body .feedback-team-header a, .results-body .feedback-admin-header a {
        white-space: nowrap; }
      .results-body .feedback-from-header h3, .results-body .feedback-to-header h3, .results-body .feedback-boss-header h3, .results-body .feedback-team-header h3, .results-body .feedback-admin-header h3 {
        height: 2.1rem;
        font-size: 1.8rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 0.12px;
        color: #1a173b; }
      .results-body .feedback-from-header a, .results-body .feedback-to-header a, .results-body .feedback-boss-header a, .results-body .feedback-team-header a, .results-body .feedback-admin-header a {
        height: 1.7rem;
        font-size: 1.4rem;
        line-height: 1.21; }
    .results-body .feedback-from-body, .results-body .feedback-to-body, .results-body .feedback-boss-body, .results-body .feedback-team-body, .results-body .feedback-admin-body {
      height: 100%;
      height: -moz-calc(100%-100px);
      height: -webkit-calc(100%-100px);
      overflow-y: scroll;
      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */ }
      .results-body .feedback-from-body::-webkit-scrollbar, .results-body .feedback-to-body::-webkit-scrollbar, .results-body .feedback-boss-body::-webkit-scrollbar, .results-body .feedback-team-body::-webkit-scrollbar, .results-body .feedback-admin-body::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0; }
    .results-body .feedback-from-item, .results-body .feedback-to-item, .results-body .feedback-boss-item, .results-body .feedback-team-item, .results-body .feedback-admin-item {
      display: grid;
      height: 3.9rem;
      padding: 0 2.7rem;
      border-bottom: solid 1.5px #eaebee;
      font-size: 1.3rem;
      line-height: 1.54;
      color: #000a19;
      white-space: nowrap; }
      .results-body .feedback-from-item a, .results-body .feedback-to-item a, .results-body .feedback-boss-item a, .results-body .feedback-team-item a, .results-body .feedback-admin-item a {
        width: 20%; }
        @media (max-width: 1199px) {
          .results-body .feedback-from-item a, .results-body .feedback-to-item a, .results-body .feedback-boss-item a, .results-body .feedback-team-item a, .results-body .feedback-admin-item a {
            width: 20%; } }
      .results-body .feedback-from-item > *:not(:last-child), .results-body .feedback-to-item > *:not(:last-child), .results-body .feedback-boss-item > *:not(:last-child), .results-body .feedback-team-item > *:not(:last-child), .results-body .feedback-admin-item > *:not(:last-child) {
        width: 20%; }
        @media (max-width: 1199px) {
          .results-body .feedback-from-item > *:not(:last-child), .results-body .feedback-to-item > *:not(:last-child), .results-body .feedback-boss-item > *:not(:last-child), .results-body .feedback-team-item > *:not(:last-child), .results-body .feedback-admin-item > *:not(:last-child) {
            width: 20%; } }
        .results-body .feedback-from-item > *:not(:last-child):first-child, .results-body .feedback-to-item > *:not(:last-child):first-child, .results-body .feedback-boss-item > *:not(:last-child):first-child, .results-body .feedback-team-item > *:not(:last-child):first-child, .results-body .feedback-admin-item > *:not(:last-child):first-child {
          width: 40%; }
          @media (max-width: 1199px) {
            .results-body .feedback-from-item > *:not(:last-child):first-child, .results-body .feedback-to-item > *:not(:last-child):first-child, .results-body .feedback-boss-item > *:not(:last-child):first-child, .results-body .feedback-team-item > *:not(:last-child):first-child, .results-body .feedback-admin-item > *:not(:last-child):first-child {
              width: 40%; } }
    .results-body .feedback-buttons {
      white-space: nowrap; }
      .results-body .feedback-buttons a {
        padding: 0 1rem;
        display: inline-block;
        width: 11.1rem;
        height: 3.1rem;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #FFF; }
        @media (max-width: 991px) {
          .results-body .feedback-buttons a {
            width: 9rem; } }
        .results-body .feedback-buttons a i {
          margin-right: .7rem;
          font-size: 1.7rem; }
          @media (max-width: 991px) {
            .results-body .feedback-buttons a i {
              margin-right: .3rem; } }
      .results-body .feedback-buttons-settings {
        background-color: #404040; }
      .results-body .feedback-buttons-delete {
        margin-left: 1.3rem;
        background-color: #ff3e3e; }
