$green-gradient: linear-gradient(#3CF166, #17DE24);
$orange-gradient: linear-gradient(#F5E144, #FFA30F);
$red-gradient: linear-gradient(#FA2020, #EF0049);

@mixin respond($breakpoint) {
    @if $breakpoint == desktop-sm {
        @media (max-width: 767px) { @content };
    }
    @if $breakpoint == desktop-md {
        @media (max-width: 991px) { @content };
    }
    @if $breakpoint == desktop-lg {
        @media (max-width: 1199px) { @content };
    }
    @if $breakpoint == desktop-xl {
        @media (max-width: 1500px) { @content };
    }
    @if $breakpoint == desktop-xxl {
        @media (max-width: 1800px) { @content };
    }
}

@mixin respond-h($breakpoint) {
    @if $breakpoint == height-sm {
        @media (max-height: 600px) { @content };
    }
}

html {
    font-size: 62.5%;
    //font-size: 68%;
    @include respond(desktop-xl) {
        font-size: 58%;
    }

    @include respond(desktop-md) {
        font-size: 53%;
    }

}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Nunito Sans', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
}

.sidebar {
    height: 100%; 
    min-width: 24.4rem; 
    padding: 4.2rem 3rem;
    box-shadow:  0 2px 9px  rgba(0,0,0,.06);
    z-index: 1000;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    &-info {

        &-img {
            width: 6.7rem;
            height: 6.7rem;
            border-radius: 50%;
        }

        &-name {
            padding-left: 1.3rem;
            font-size: 1.7rem;
            font-weight: 600;
            color: #002257;

            & span {
                display: inline-block;
                width: .7rem;
                height: .7rem;
                margin-left: .7rem;
                background-color: #2EBD41;
                border-radius: 50%;
            }
        }

        &-title {
            padding-left: 1.3rem;
            font-size: 1.35rem;
            font-weight: 600;
            color: #969EAD;
        }
    }

    &-group {
        padding-top: 4rem;

        &:nth-of-type(2),
        &:nth-of-type(3) {
            padding-top: 3.5rem;
        }

        & .list-unstyled {
            margin: 0;
        }

        h3 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.42;
            color:#687181;
        }

        & select {
            height: 3.5rem;
            width: 100%;
            margin-top: .7rem;
            padding: 0 .7rem;
            font-size: 1.2rem;
            border-color: #EAEBEE;
            color: #002257;
            border-radius: 3px;
        }

        & .list-unstyled {


            & li {
                height: 1.8rem;
                margin-top: 1.7rem;
                font-size: 1.3rem;
                line-height: 1.69;
                color: #002257;
            }
        }
    }
}

.results {
    //height: 100%;
    width: 100%;
    background-color: #F8F9FB;
    padding: 4.1rem 4.6rem 2.8rem 3.4rem;

    &-header {
        &-logout {
            height: 2rem;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
            color: #6E747E;

            & i {
                margin-top: 0;
                margin-left: -3px;
                font-size: 1.8rem;
                color: #6E747E;
            }
        }

        & h2 {
            height: 3.7rem;
            margin: 0;
            font-size: 2.7rem;
            font-weight: 600;
            line-height: 1.37;
            color: #1A173B;
        }

        & .choose {
            margin: 2.2rem 0;
            font-size: 1.6rem;
            color: #878590;
            & span {
                font-weight: 700;
                color: #1A173B;
            }
        }

        &-search {
            width: 34.4rem;
            height: 6.6rem;
            margin-top: 2.1rem;
            margin-bottom: 1.7rem;
            border-radius: 4px;
            border: solid 1.5px #eaebee;
            background-color: #ffffff;

            & input {
                width: 31.3rem;
                height: 3.5rem;
                padding-left: 4.3rem;
                font-size: 1.5rem;
                font-weight: 500;
                color: #000;
                border: solid 1.5px rgba(0,0,0, .1);
                border-radius: 1.7rem;
            }
        }
    }
    &-body {
        font-family: 'Lato', sans-serif;
        height: calc(98% - 15.9rem);
        //max-height: 60rem;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        
        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }

        & .row {
            height: 25%;
            min-height: 15.5rem;
           

            & .col-6 {
                height: 100%important;
            }
        }

        & .row:nth-of-type(1) {
            height: 50%;
            min-height: 27rem;
        }

        & .feedback-from,
        & .feedback-to {
            max-height: 33.2vh;
            //max-height: 100%;
            min-height: 27.5rem;

        }

        & .feedback-boss,
        & .feedback-team,
        & .feedback-admin {
            max-height: 15.8rem;
        }

        & .feedback-from,
        & .feedback-to,
        & .feedback-boss,
        & .feedback-team,
        & .feedback-admin {
            
            &-header {
                padding: 2.7rem;
                border-bottom: solid 1.5px #eaebee;

                & a {
                    height: 2.1rem;
                    line-height: 1.22;
                    margin-left: 1rem;
                    white-space: nowrap;
                }
                
                & h3 {
                    height: 2.1rem;
                    margin-bottom: 0;
                    font-size: 1.8rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.22;
                    letter-spacing: 0.12px;
                    color: #1a173b;
                }

                & a {
                    height: 1.7rem;
                    font-size: 1.4rem;
                    line-height: 1.21;
                    // color: #0077ff;
                }
            }

            &-body {
                //height: 100%;
                height:100%;
                height:-moz-calc(100%-100px);
                height:-webkit-calc(100%-100px);
                overflow-y: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                
                &::-webkit-scrollbar { /* WebKit */
                    width: 0;
                    height: 0;
                }
            }

            &-item {
                display: grid;
                height: 3.9rem;
                padding: 0 2.7rem;
                
                font-size: 1.3rem;
                line-height: 1.54;
                color: #000a19;
                white-space: nowrap;

                &:not(:last-child) {
                    border-bottom: solid 1.5px #eaebee;
                }

                & a {
                    width: 20%;
                    @include respond(desktop-lg) {
                        width: 20%;
                    } 
                }

                & > *:not(:last-child) {
                    width: 20%;
                    @include respond(desktop-lg) {
                        width: 20%;
                    } 
                    &:first-child {
                        width: 40%;
                        @include respond(desktop-lg) {
                            width: 40%;
                        } 
                    }
                }
            }
        }

        & .feedback-buttons {
            white-space: nowrap;
            a {
                padding: 0 1rem;
                display: inline-block;
                width: 11.1rem;
                height: 3.1rem;
                border-radius: 4px;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.25;
                color: #FFF;

                @include respond(desktop-md) {
                    width: 9rem;
                }

                & i {
                    margin-right: .7rem;
                    font-size: 1.7rem;
                    @include respond(desktop-md) {
                        margin-right: .3rem;
                    }
                }
               
            }

            &-settings {
                background-color: #404040;
            }

            &-delete {
                margin-left: 1.3rem;
                background-color: #ff3e3e;
            }
        }

    }
}

